@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


/* Navbar */
ul.menu {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: inline-block;
  list-style-type: none;

  li.menu_list {
    box-sizing: border-box;
    height: 85px;
    width: 85px;
    position: relative;

    .front,
    a.side {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 86px;
      width: 100%;
      padding: 30px;
      position: absolute;
      top: 0;
      left: 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .5s ease-out;
      cursor: pointer;
    }

    .front {
      background-color: #000;
      color: #FFF;
      transform-origin: 0 0;
    }

    a.side {
      background-color: #FFF;
      color: #000;
      transform-origin: 0 0 85px;
      transform: rotateY(-90deg);
    }

    &:hover a.side {
      transform: rotateY(0deg);
    }

    &:hover .front {
      transform: rotateY(90deg);
    }
  }
}

/* Firefly */
